@font-face
    font-family 'alegre'
    src url('./fonts/alegre_sans-webfont.eot')
    src url('./fonts/alegre_sans-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/alegre_sans-webfont.woff2') format('woff2'), url('./fonts/alegre_sans-webfont.woff') format('woff'), url('./fonts/alegre_sans-webfont.ttf') format('truetype'), url('./fonts/alegre_sans-webfont.svg#alegre_sansregular') format('svg')
    font-weight normal
    font-style normal
.alegre
	font-family 'alegre'
html
	font-family sans-serif
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%

body
	margin 0
	padding 0

article
aside
details
figcaption
figure
footer
header
hgroup
main
menu
nav
section
summary
	display block

audio
canvas
progress
video
	display inline-block
	vertical-align baseline

audio
	&:not([controls])
		display none
		height 0

[hidden]
template
	display none

a
	background-color transparent

a:active
a:hover
	outline 0

abbr[title]
	border-bottom 1px dotted

b
strong
	font-weight bold

dfn
	font-style italic

h1
	font-size 2em
	margin 0.67em 0

mark
	background #ff0
	color #000

small
	font-size 80%

sub
sup
	font-size 75%
	line-height 0
	position relative
	vertical-align baseline

sup
	top -0.5em

sub
	bottom -0.25em

img
	border 0

svg
	&:not(:root)
		overflow hidden

figure
	margin 1em 40px

hr
	-moz-box-sizing content-box
	box-sizing content-box
	height 0

pre
	overflow auto

code
kbd
pre
samp
	font-family monospace, monospace
	font-size 1em

button
input
optgroup
select
textarea
	color inherit
font inherit
	margin 0

button
	overflow visible

button
select
	text-transform none

button
html input[type="button"]
input[type="reset"]
input[type="submit"]
	-webkit-appearance button
	cursor pointer

button[disabled]
html input[disabled]
	cursor default

button::-moz-focus-inner
input::-moz-focus-inner
	border 0
	padding 0

input
	line-height normal

input[type="checkbox"]
input[type="radio"]
	box-sizing border-box
	padding 0

input[type="number"]::-webkit-inner-spin-button
input[type="number"]::-webkit-outer-spin-button
	height auto

input[type="search"]
	-webkit-appearance textfield
	-moz-box-sizing content-box
	-webkit-box-sizing content-box
	box-sizing content-box

input[type="search"]::-webkit-search-cancel-button
input[type="search"]::-webkit-search-decoration
	-webkit-appearance none

fieldset
	border 1px solid #c0c0c0
	margin 0 2px
	padding 0.35em 0.625em 0.75em

legend
	border 0
	padding 0

textarea
	overflow auto

optgroup
	font-weight bold

table
	border-collapse collapse
	border-spacing 0

td
th
	padding 0
	
/*Here comes the true styles*/
.alegre
	font-family 'alegre', sans-serif
p.text
	text-align left
	padding 0 20px
.item-deco
	display inline-block
	width 44px
	height 16px
	overflow hidden
.left-deco
	background transparent url(../images/sprite-reyes-cantina.png) no-repeat left -125px
.right-deco
	background transparent url(../images/sprite-reyes-cantina.png) no-repeat left -144px
.bottom-deco
	background transparent url(../images/sprite-reyes-cantina.png) no-repeat 0 -110px
	display block
	height 14px
	margin -10px auto 16px auto
	width 150px
h2
	display inline-block
	font-size 2.6em
	font-family 'alegre'
section
	text-align center
.show
	display block
body
	font-family 'Lato', sans-serif
	background transparent url(../images/patron-fondo-oscuro.png) repeat center top
	overflow auto
	width 100%
	font-size 1.6em
	line-height 1.4em
	.navbar
		border none
	.navbar-default 
		background-color transparent
		margin 0
		padding 0
		.navbar-toggle
			border-color transparent
			&:hover
				background-color transparent
		.navbar-nav
			margin 0 -15px 7.5px -15px
			// background rgba(black, .9)
		.navbar-nav .active a
			background-color gray
		.navbar-brand
		.navbar-nav li a
			color white
		.navbar-brand
			background transparent url(../images/sprite-reyes-cantina.png) no-repeat -110px top
			display block
			height 37px
			margin 5px 0 0 15px
			overflow hidden
			width 38px
			display none
		.navbar-nav .active a
			color white
	header.transparency .navbar-default
		background rgba(black, .7)
	.logo-slider-container
		background black url(../images/patron-fondo-oscuro.png) repeat center top
		height auto
		overflow hidden
		padding-top 16px
		position relative
		.logo-reyes-top
			background transparent url(../images/sprite-reyes-cantina.png) no-repeat left top
			display block
			height 100px
			margin 0 auto 20px auto
			width 100px
			text-align center
		.slider-top
			margin -70px 0 0
			padding 0 0 50px 0
			position relative
			text-align center
			li
				height auto
				overflow hidden
				width 100%
				img
					display block
					height auto
					width 100%
			p
				color white
				display inline-block
				font-size 3em
				font-weight bold
				line-height .8em
				margin -120px auto 0 auto
				position relative
				text-transform uppercase
				span
					font-size 1.5em
					line-height .7em
		.steps
			bottom 10px
			display block
			float none
			margin 0 auto
			padding 0
			position relative
			text-align center
			li
				background #B0B4B5
				border 1px solid green
				border-radius 50%
				display inline-block
				height 10px
				margin 0 5px
				padding 0
				width 10px
				&.active
					background white
	.filosofia
		height auto
		overflow hidden
		width 100%
		.corona
			background transparent url(../images/madera-fondo-quienes-somos.png) no-repeat center top
			display block
			height auto
			margin 30px 0 0
			overflow hidden
			text-align center
			width 100%
		.title-container
			margin-top -70px
	.platillos
		.photos
			display block
			margin -25px 0 40px 0
			padding 0
			text-align center
			width 100%
			overflow hidden
			li
				display none
				img
					display block
					height auto
					width 100%
		.steps
			display block
			height auto
			margin -130px 0 0
			position relative
			text-align center
			width 100%
			padding 0 0 60px 0
			overflow hidden
			li
				background black
				border-radius 50%
				display inline-block
				height 40px
				margin 0 15px
				width 40px
				&:first-of-type
					margin-left 0
	.unidades
		display block
		height auto
		overflow hidden
		width 100%
		p
			text-align left
			padding 0 20px
		ul
			display block
			height auto
			text-align center
			width 100%
			padding 0
			margin 0
			li
				width 45px
				height 45px
				display block
				background black
				border-radius 50%
				display inline-block
				margin 0 9px
				&:first-of-type
					margin-left 0
				a
					width 100%
					height 100%
					display block
					background transparent url(../images/sprite-reyes-cantina.png) no-repeat
					&:hover
						cursor pointer
					&.gdl
						background-position -4px -168px
					&.ags
						background-position -53px -168px
					&.tj
						background-position -106px -168px
					&.df
						background-position -154px -168px
					&.pc
						background-position -206px -168px
					span
						visibility hidden
		.container-info
			display block
			height auto
			overflow hidden
			padding-top 22px
			width 100%
			.unidad
				display block
				height auto
				overflow hidden
				width 100%
				&.tj
				&.df
				&.pc
				&.ags
					display none
				.title
					font-family 'alegre'
					font-size 2em
					line-height 1em
				.mapa
					background red url(../images/ubicaciones.jpg) no-repeat left top
					display block
					height 127px
					margin 0 auto
					overflow hidden
					padding 0
					width 297px
	.contacto
		width 100%
		height auto
		display block
		overflow hidden
		.line
			width 90%
			height auto
			padding-bottom 20px
			margin 0 auto
			input
			textarea
				width 100%
				background white
				border 1px solid black
				height 36px
				border-radius 2px
				padding 0 10px
			textarea
				height 80px
				resize none
				padding 10px
			.submitBtn
				width 70%
				margin 0 auto
				background black
				color white
	footer
		padding 40px 0
		a
			color black
			text-decoration none
			&:hover
				text-decoration underline
			&:visited
				color black